/* -----------------------------Css for the Standard mode------------------------------*/

.container_stand{
     width: 370px;
 margin: 0 auto;
}

.button_stand{
    cursor: pointer;
    width: 74.5px;
    float: left;
    text-align: center;
    line-height: 56px;
    font-weight: 900;
    font-size: 22px;
    background: #e6e6e6;
    font-family: sans-serif;
}


#sqrt_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#square_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#mc_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

.selct_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#plusmin_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#evaluate_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#demo_stand {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#f2f2f2;
    padding: 6px 10px;
}

#clear_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#delete_stand{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}


/* -----------------------------Css for the Scientific mode------------------------------*/
.button{
    cursor: pointer;
    width: 74.5px;
    float: left;
    text-align: center;
    line-height: 56px;
    font-weight: 900;
    font-size: 22px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#evaluate{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#c{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#clear{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#delete{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#square{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#cube{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#sin{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#cos{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#tan{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#log{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#mc{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

.selct{
    width: 70px;
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
}

.container{
 width: 370px;
 margin: 0 auto;
}

#demo {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#f2f2f2;
    padding: 19px 10px;
}

.logo {
    position: relative;
    top: 10px;
}


#sqrt{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#pi{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#fact{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}

#plusmin{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #f2f2f2;
    font-family: sans-serif;
}


/* -----------------------------Css for the Programmer mode------------------------------*/

.button_prog{
    cursor: pointer;
    width: 74.5px;
    float: left;
    text-align: center;
    line-height: 56px;
    font-weight: 900;
    font-size: 22px;
    background: #e6e6e6;
    font-family: sans-serif;
}



.container_prog{
 width: 370px;
 margin: 0 auto;
}


#evaluate_prog{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#demo_hex {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#f2f2f2;
    padding: 6px 10px;
}

#demo_bin {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#f2f2f2;
    padding: 6px 10px;   
}

#demo_dec {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#f2f2f2;
    padding: 6px 10px;
}

#demo_oct {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#f2f2f2;
    padding: 6px 10px;
}

#demo_main {
    border: 0;
    text-align: right;
    width: 278px;
    font-size: 26px;
    font-weight: 900;
    background:#bdbcbc;
    padding: 6px 10px;
}


#clear_prog{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#sqrt_prog{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#fact_prog{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#plusMinus_prog{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}

#delete_prog{
    float: left;
    cursor: pointer;
    text-align: center;
    width: 74.5px;
    line-height: 56px;
    background: #e6e6e6;
    font-family: sans-serif;
}





